.logo_login {
  width: 150px;
  height: 150px;
}

.fondo {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    143deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 53, 53, 0.6747535684195554) 27%,
    rgba(140, 141, 122, 0.8848376020330007) 100%
  );
}

.bordes {
  padding: 200px;
}

.logo_pag {
  max-width: 250px;
  height: auto;
}

.bi {
  font-size: 2rem;
  color: #000000;

}



