---
const url = "http://localhost:3000/webpay/crear";
---
<form action="http://localhost:3000/webpay/crear" method="POST">
  <input type="" name="amount" value="10000" />
  <button type="submit">Pagar</button>
</form>
